@font-face {
    font-family: 'LinotypeUnivers-BasicRegular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/LinotypeUnivers-BasicRegular.otf');
}
@import "~vue-wysiwyg/dist/vueWysiwyg.css";
body {
    width: 1098px;
    margin: auto;
    background: #F5F5F5;
    overflow: hidden;
    font-family: 'LinotypeUnivers-BasicRegular' !important;
    font-weight: normal;
    letter-spacing: 0.7px !important;
}
a, a:hover {
    text-decoration: none;
}
.application {
    font-family: 'LinotypeUnivers-BasicRegular' !important;
    font-weight: normal;
}
button.btnFilter {
    position: fixed;
    left: -8px;
    top: 41px;
    border-radius: inherit;
    z-index: 6;
    opacity: .75;
    display: none;
}
button.btnFilter:hover, button.btnFilter:active, button.btnFilter:visited, button.btnFilter:focus {
   opacity: 1;
   position: fixed 
}
.mainWrapper {
    min-height: 450px;
    background: #FFF;
}
@media screen and (max-width: 992px) {
    body {
        width: 100%;
        padding-top: 40px;
    }
    button.btnFilter {
        display: flex;
    }
}

button, .display-1, .display-2, .body-1, .body-2, .body-3, .title, .subheading, .headline, .v-list, .flex, .caption, .v-chip, .v-tabs, pre {
    font-family: 'LinotypeUnivers-BasicRegular' !important;
}

.mobileNavigation .v-list__tile__title {
    color: #212121;
}

/*
.v-text-field__details {
    display: none;
}
span.is-danger {
    font-size: 12px;
    font-weight: 400;
    color: #F44336;
}
div.is-danger .v-input__slot {
    border: 1.2px solid #F44336;
} */

/* =========== Header =========== */
form {
    width: 100%;
}
.main-header button.hover-orange {
    font-size: 12px;
}
.main-header button.hover-orange:hover {
    background-color: #fa6e2f;
}
.main-header .smallHeader .v-btn {
    height: 40px;
    min-width: auto !important;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    border-radius: 0px;
}
a.router-link-exact-active.router-link-active .v-tooltip span button {
    background-color: #0b324f;
    border-color: #fa6e2f;
    color: #fa6e2f;
}

.main-header .smallHeader button:hover {
    background-color: #0b324f;
    border-color: #fa6e2f;
    color: #fa6e2f;
}
.main-header .smallHeader .v-btn--active:before,
.main-header .smallHeader .v-btn:focus:before,
.main-header .smallHeader .v-btn:hover:before {
    background-color: transparent
}


/* =========== Fixed NavBar =========== */
.v-toolbar--fixed {
    max-width: 1098px;
    left: inherit;
}


/* =========== Home Banner =========== */
.hbanner .display-1 {
    line-height: 50px !important;
}
.hbanner .subheading {
    line-height: 30px !important;
}
@media screen and (max-width: 992px) {
    .hbanner .display-1 {
        margin-bottom: 5px;
        font-size: 15px !important;
        line-height: 20px !important;
    }
    .hbanner .subheading {
        display: none;
    }
    .hbanner .v-btn {
        height: auto;
        padding: 8px 15px;
        font-size: 15px;
        text-transform: initial;
    }
}

/* =========== Home Packages =========== */
.hpackages .v-card__title {
    background-image: -webkit-linear-gradient(to right, #005885 , #003b5b);
    background-image: -moz-linear-gradient(to right, #005885 , #003b5b);
    background-image: linear-gradient(to right, #005885 , #003b5b);
}
.hpackages .v-list__tile {
    height: 34px;
    font-size: 14px;
}
.hpackages .v-list__tile__action {
    min-width: 28px;
}
.hpackages .in_list .v-list__tile {
    height: 24px;
    font-size: 14px;
    color: #757575;
}
@media screen and (max-width: 992px) {
    .hpackages h2.headline {
        font-size: 15px !important;
        line-height: 22px !important;
    }
    .hpackages .v-list .v-list__tile__action {
        min-width: 22px;
    }
    .hpackages .v-list .material-icons {
        font-size: 16px !important;
    }
    .hpackages .v-list .v-list__tile__title {
        font-size: 13px !important;
    }
}

/* =========== Mobile Packages =========== */
.mobilePackageTab .v-tabs__container {
    height: 58px;
}
.mobilePackageTab a.v-tabs__item {
    text-transform: initial;
    line-height: 20px;
}
.mobilePackageTab a.v-tabs__item--active {
    background: #DEDEDE;
}



/* =========== News Room =========== */

/* ----- News Room Top ----- */
.newsRoomSectionTop {
    border-bottom: 1px solid #EAEAEA;
}
.newsRoomSectionTop button {
    text-transform: initial;
    border-radius: 0px;
}
.newsRoomSectionTop .v-btn--active:before,
.newsRoomSectionTop .v-btn:focus:before,
.newsRoomSectionTop .v-btn:hover:before {
    background-color: transparent;
}
.newsRoomSectionTop button.btnTab {
    min-width: auto;
    border-bottom: 4px solid #CCC;
    border-color: #333 !important;
}

/* .newsRoomSection .v-tabs__wrapper {
    padding: 0 20px;
}
.newsRoomSection .v-tabs__wrapper .v-tabs__slider {
    height: 3px;
} */
@media screen and (max-width: 992px) {
    .newsRoomSectionTop button {
        height: 30px;
        padding: 0px 10px;
        font-size: 13px;
        letter-spacing: 0.6px;
    }
    .newsRoomSectionTop button .v-icon {
        font-size: 18px;
    }
}

/* ----- News Room Filter ----- */
.newsRoomSection .newsRoomFilter {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.newsRoomSection .newsRoomFilter .v-text-field>.v-input__control>.v-input__slot:before {
    border-style: hidden;
}
.newsRoomSection .newsRoomFilter .theme--light.v-label {
    top: -1px;
    font-size: 18px;
    color: #000;
}
.newsRoomSection .newsRoomFilter .searchInput .material-icons {
    font-size: 20px;
}
.newsRoomSection .newsRoomFilter .v-input__slot {
    font-size: 13px;
    border: 1px solid #CCC;
    padding: 0px;
}
.newsRoomSection .newsRoomFilter .v-select__selection--comma {
    margin: 0px auto;
    padding: 0  8px;
}
.newsRoomSection .newsRoomFilter .v-input__control {
    min-height: 26px !important;
}
.newsRoomSection .newsRoomFilter .v-input__control .material-icons {
    font-size: 20px;
}
.newsRoomSection .newsRoomFilter .v-input input {
    max-height: 26px;
    padding: 0 8px;
    line-height: 26px;
}
.newsRoomSection .newsRoomFilter .v-text-field .v-input__append-inner,
.newsRoomSection .newsRoomFilter .v-text-field .v-input__prepend-inner {
    margin-top: 0px;
}
.v-select-list .v-list {
    padding: 4px 0;
}
.v-select-list .v-list__tile {
    font-size: 13px;
    height: 28px;
}
@media screen and (max-width: 992px) {
    .newsRoomSection .newsRoomFilter {
        display: none;
    }
}

/* ----- News Room News ----- */
.newsRoomSection .newsImage {
    width: 100%;
    height: 160px;
}

.kFinderWrap .v-image{
    height: 160px;
}

.newsRoomSection .newsRoomWrap .v-card__title {
    line-height: 22px;
}

/* ----- News Room Details ----- */
.newsRoomSection .newsDetail .v-tabs__container {
    height: 38px;
}
.newsRoomSection .newsDetail .v-tabs__slider-wrapper {
    display: none;
}
.newsRoomSection .newsDetail .v-tabs__item {
    color: #fa6e2f;
    border: 1px solid transparent;
    border-top: 3px solid transparent;
    border-bottom-color: transparent;
    text-transform: initial;
    border-radius: 5px 5px 0 0;
}
.newsRoomSection .newsDetail .v-tabs__item:hover {
    color: #fa6e2f;
    border: 1px solid #ddd;
    border-top: 3px solid #fa6e2f;
    border-bottom-color: #FFF;
}
.newsRoomSection .newsDetail .v-tabs__item--active {
    color: #212121;
    border: 1px solid #ddd;
    border-top: 3px solid #fa6e2f;
    border-bottom-color: #FFF;
}
.newsRoomSection .newsDetail button {
    min-width: auto;
    padding-left: 7px !important;
    padding-right: 7px !important;
    border-radius: 0px;
    border: 1px solid #ADADAD;
    text-transform: inherit;
}
.newsRoomSection .newsDetail .v-tabs__wrapper {
    position: relative;
    bottom: -1px;
    z-index: 99;
}
.newsRoomSection .newsDetail .topBottonBorder {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.newsRoomSection .newsDetail .v-tabs__items {
    border-top: 1px solid #ddd;
    z-index: 1;
}
.newsRoomSection .newsDetail .orangeText {
    color: #fa6e2f;
}
.newsRoomSection .newsDetail .tabsTextFeilds .v-input__control .v-text-field__details {
    display: none;
}
.newsRoomSection .newsDetail .tabsTextFeilds .v-text-field {
    width: 75px;
    display: -webkit-inline-box;
}
.newsRoomSection .newsDetail .tabsTextFeilds .v-input__slot {
    min-height: 35px;
    border: 1px solid rgba(0,0,0,.54);
}
.newsRoomSection .newsDetail .tabsTextFeilds .v-input__slot:hover {
    border: 1px solid rgba(0,0,0,1);
}
.newsRoomSection .newsDetail .tabsTextFeilds .v-input__slot input {
    margin-top: 0px;
}
.newsRoomSection .newsDetail button.hoverCustom:hover {
    background-color: #fa6e2f !important;
    border-color: #fa6e2f !important;
    color: #FFF;
}
.newsRoomSection .newsDetail .tabsDocument .v-card__text {
    text-align: center;
}

/* ----- News Room Right ----- */
.newsRoomSection .newsRight a {
    color: #212121;
}
.newsRoomSection .newsRight button {
    min-width: auto;
    padding-left: 7px !important;
    padding-right: 7px !important;
    border-radius: 0px;
    border: 1px solid #ADADAD;
    text-transform: inherit;
}
.newsRoomSection .newsRight button.hoverCustom:hover {
    background-color: #fa6e2f !important;
    border-color: #fa6e2f !important;
}
.newsRoomSection .newsRight button.textLeft .v-btn__content {
    justify-content: left;
}
.newsRoomSection .newsRight .bilder-imgCaption .v-icon {
    margin-top: 2px;
}


/* =========== Kitchen Finder =========== */
/* ----- Kitchen Finder Top ----- */
.kitchenFinderSectionTop .v-text-field .v-label {
    font-size: 12px;
}
.kitchenFinderSectionTop button.btnSuche {
    height: 32px;
    text-transform: initial;
}
.kitchenFinderSectionTop .v-text-field.v-text-field--solo .v-input__control {
    min-height: auto;
    font-size: 13px;
}
.kitchenFinderSectionTop .v-input__slot {
    margin-bottom: 0px;
}
.kitchenFinderSectionTop .v-text-field.v-text-field--enclosed .v-text-field__details {
    display: none;
}
@media screen and (max-width: 992px) {
    .kitchenFinderSectionTop .v-text-field.v-text-field--solo .v-input__control {
        min-height: auto;
        font-size: 12px;
    }
    .kitchenFinderSectionTop button.btnSuche {
        float: left !important;
        margin-top: 5px !important;
    }
}

/* ----- Kitchen Finder Filter ----- */
.kitchenFinderSection .kitchenFinderFilter {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.kitchenFinderSection .kitchenFinderFilter .v-card__text {
    padding: 10px 16px;
}
.mobileFilterWarp .v-input--slider{
    margin-top: 0px;
}
.kitchenFinderSection .kitchenFinderFilter .v-text-field>.v-input__control>.v-input__slot:before {
    border-style: hidden;
}
.kitchenFinderSection .kitchenFinderFilter .theme--light.v-label {
    top: -1px;
    font-size: 18px;
    color: #000;
}
.kitchenFinderSection .kitchenFinderFilter .v-label span.custom,  .mobileFilterWarp .v-card__text .v-label span.custom{
    font-size: 14px;
}
.kitchenFinderSection .kitchenFinderFilter .searchInput .material-icons {
    font-size: 20px;
}
.kitchenFinderSection .kitchenFinderFilter .v-input__slot {
    font-size: 13px;
    border: 1px solid #CCC;
}
.kitchenFinderSection .kitchenFinderFilter .v-input--slider .v-input__slot,  .mobileFilterWarp .v-input--slider .v-input__slot{
    border: 0px solid #CCC;
}
.kitchenFinderSection .kitchenFinderFilter .v-select__selection--comma {
    margin: 0px auto;
    padding: 0  8px;
}
.kitchenFinderSection .kitchenFinderFilter .v-input input {
    max-height: 26px;
    padding: 0 8px;
    line-height: 26px;
}
.kitchenFinderSection .kitchenFinderFilter .v-text-field .v-input__append-inner,
.kitchenFinderSection .kitchenFinderFilter .v-text-field .v-input__prepend-inner {
    margin-top: 0px;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap h4.body-1 {
    font-size: 14px !important;
    color: #000;
    margin-bottom: 10px;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal {
    width: 22.6%;
    display: inline-block;
    margin-right: 3%;
    border-radius: 50%;
    position: relative;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal:nth-child(4n+1) {
    margin-right: 0%;
}

/* .kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal .v-image__image {
    background-color: #0B324F;
} */
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal .backgroundColor {
    position: absolute;
    top: 0;
    left: 50;
    height: 100%;
    width: 100%;
    background-color: #0B324F;
    opacity: 1;
    z-index: -2;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal:hover input ~ .backgroundColor,
.kitchenFinderSection .kitchenFinderFilter .dealsWrap .imgDeal input:checked ~ .backgroundColor {
    background-color: #fa6e2f;
}
@media screen and (max-width: 992px) {
    .kitchenFinderSection .kitchenFinderFilter {
        display: none;
    }
}

/* ----- Kitchen Finder Map Details ----- */
.kitchenFinderSection .kFinderMapWrap {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,.20);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,.20);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.20);
}
.kitchenFinderSection .kFinderMapWrap span.display-1 {
    font-size: 30px !important;
    line-height: 35px !important;
}
.kitchenFinderSection pre {
    white-space: inherit !important;
}
.kitchenFinderSection .kFinderWrap {
    padding: 12px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.25);
    border-top: 4px solid #0b324f;
    border-color: #0b324f !important;
    border-radius: 0;
}
.kitchenFinderSection .kFinderWrap .kitchenImage {
    width: 100%;
    height: 110px;
}
.kitchenFinderSection .kFinderWrap .v-rating--dense{
    display: -webkit-inline-box;
}
.kitchenFinderSection .v-chip {
    font-size: 11px;
    background: #0b324f;
}
.kitchenFinderSection .v-tabs__wrapper {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.kitchenFinderSection .v-tabs__container {
    height: 35px;
}
.kitchenFinderSection .v-tabs__item {
    font-size: 13px;
    text-transform: initial;
}
.kitchenFinderSection .v-tabs__content .v-btn {
    height: auto;
    text-transform: initial;
}
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap {
    width: 11.6%;
    display: inline-block;
    margin-right: 2.4%;
    margin-bottom: 15px;
    border-radius: 50%;
    text-align: center;
}
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap:nth-child(7n+7) {
    margin-right: 0%;
}
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap .imgDeal {
    width: 100%;
    border-radius: 50%;
    margin: auto;
    position: relative;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap .imgDeal .backgroundColor {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0B324F;
    opacity: 1;
    z-index: -2;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap .imgDeal:hover,
.kitchenFinderSection .v-tabs__content .dealsWrap .wrap .imgDeal:focus {
    transform: scale(1.075);
}
.kitchenFinderSection .kitchenFinderFilter .dealsWrap h4.body-1 {
    font-size: 14px !important;
    color: #000;
    margin-bottom: 10px;
}
.kitchenFinderSection .tabRight button.v-btn {
    height: auto;
    text-transform: initial;
}
.kitchenFinderSection .tabRight button.colorGreen {
    background: #a3d301;
}
.kitchenFinderSection .tabRight button.grey .v-icon {
    font-size: 20px;
}
.kitchenFinderSection .tabRight a {
    color: #212121;
    text-decoration: initial;
}
@media screen and (max-width: 992px) {
    .kitchenFinderSection .v-tabs__item {
        font-size: 12px;
        padding: 6px 10px;
    }
    .kitchenFinderSection .v-tabs__content .headline {
        font-size: 20px !important;
        line-height: 29px !important;
        margin-bottom: 10px;
    }
    .kitchenFinderSection .v-tabs__content .body-1 {
        font-size: 13px !important;
        margin-bottom: 10px;
    }
    .kitchenFinderSection .v-tabs__content .dealsWrap .wrap {
        width: 22.6%;
        display: inline-block;
        margin-right: 3%;
        margin-bottom: 15px;
        border-radius: 50%;
        text-align: center;
    }
    .kitchenFinderSection .v-tabs__content .dealsWrap .wrap .body-1 {
        font-size: 12px !important;
        margin-bottom: 0px;
    }
    .kitchenFinderSection .v-tabs__content .dealsWrap .wrap:nth-child(5n+5) {
        margin-right: 3%;
    }
    .kitchenFinderSection .v-tabs__content .dealsWrap .wrap:nth-child(4n+4) {
        margin-right: 0px;
    }
}

/* ========== Mobile Filter ========== */
.mobileFilterWarp .v-text-field>.v-input__control>.v-input__slot:before {
    border-style: hidden;
}
.mobileFilterWarp .theme--light.v-label {
    top: -1px;
    font-size: 18px;
    color: #000;
}
.mobileFilterWarp .searchInput .material-icons {
    font-size: 20px;
}
.mobileFilterWarp .v-input__slot {
    font-size: 13px;
    border: 1px solid #CCC;
}
.mobileFilterWarp .v-select__selection--comma {
    margin: 0px auto;
    padding: 0  8px;
}
.mobileFilterWarp .v-input input {
    max-height: 26px;
    padding: 0 8px;
    line-height: 26px;
}
.mobileFilterWarp .v-text-field .v-input__append-inner,
.mobileFilterWarp .v-text-field .v-input__prepend-inner {
    margin-top: 0px;
}
.mobileFilterWarp .dealsWrap h4.body-1 {
    font-size: 14px !important;
    color: #000;
    margin-bottom: 10px;
}
.mobileFilterWarp .dealsWrap .imgDeal {
    width: 18%;
    display: inline-block;
    margin-right: 3%;
    border-radius: 50%;
    position: relative;
}
.mobileFilterWarp .dealsWrap .imgDeal:nth-child(5n+1) {
    margin-right: 0%;
}

/* .mobileFilterWarp .dealsWrap .imgDeal .v-image__image {
    background-color: #0B324F;
} */
.mobileFilterWarp .dealsWrap .imgDeal label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mobileFilterWarp .dealsWrap .imgDeal input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.mobileFilterWarp .dealsWrap .imgDeal .backgroundColor {
    position: absolute;
    top: 0;
    left: 50;
    height: 100%;
    width: 100%;
    background-color: #0B324F;
    opacity: 1;
    z-index: -2;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.mobileFilterWarp .dealsWrap .imgDeal:hover input ~ .backgroundColor,
.mobileFilterWarp .dealsWrap .imgDeal input:checked ~ .backgroundColor {
    background-color: #fa6e2f;
}

/* =========== Dialog =========== */
.v-overlay--active:before {
    opacity: .90;
}
.v-overlay:before {
    background-color: rgb(11,50,79);
}
.v-dialog {
    box-shadow: none;
}
.v-dialog .lockIcon {
    position: absolute;
    top: 7px;
    right: -5px;
    font-size: 65px !important;
    opacity: 0.4;
}
.v-dialog__content .transparentDialog {
    background-color: rgba(0,0,0,0.35);
    box-shadow: none;
    position: relative;
}
/* .v-dialog__content .v-card::after {
    content: '\f023';
    font-family: FontAwesome;
    font-size: 100px;
    color: #FFF;
    opacity: 1;
    position: absolute;
    top: 0px;
    right: 0px;
} */
.v-text-field.v-text-field--solo .v-input__control {
    min-height: 40px;
    font-size: 14px;
}
.v-input__slot {
    margin-bottom: 4px;
}
.v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0px;
}
.v-dialog__content .btn-SignIn {
    height: 40px;
    font-size: 15px;
    text-transform: initial;
    background: #fa6e2f;
}
@media screen and (max-width: 992px) {
    .v-dialog .lockIcon {
        font-size: 40px !important;
    }
    .v-dialog h1.display-2 {
        font-size: 35px !important;
        text-align: center;
    }    
}



/* =========== Footer =========== */
.v-footer, .v-footer .v-btn--small {
    font-size: 12px;
}
@media screen and (max-width: 992px) {
    .v-footer, .v-footer .v-btn--small {
        height: 14px;
        min-width: initial;
        font-size: 11px;
        letter-spacing: 1px;
        padding: 0px;
    }   
    .v-footer .py-3 {
        padding-bottom: 8px!important;
        padding-top: 8px!important;
    }
}




.dropContainer {
    padding: 10px;
}
.dropCard {
    box-shadow: none;
}
.dropCard .v-card__title {
    padding: 0px 10px !important;
}
.dropCard:nth-last-child(1) {
    margin-bottom: 0px !important;
}
.dropClose {
    position: absolute !important;
    top: 0px;
    right: 0px;
    width: 22px !important;
    height: 22px !important;
    padding-top: 2px;
}
.dropClose .material-icons {
    font-size: 18px;
}


/* Edit Dialog */

.editDialog .cartBorder {
    border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd!important;
}
.editDialog .cartBorder .v-toolbar__content {
    padding: 0 16px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #bdbdbd!important;
}
.editDialog .cartBorder .v-toolbar__content .v-toolbar__title {
    font-size: 18px;
    font-weight: 600;
}
.editDialog .cartBorder .feildLabel {
    padding-top: 13px!important;
    font-size: 13px!important;
}
.editDialog .cartBorder .v-text-field.v-text-field--solo .v-input__control {
    min-height: 34px;
}
.editDialog .cartBorder .v-input__slot {
    box-shadow: none!important;
    border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd!important;
}
.editDialog .cartBorder .range-slider .v-input__slot {
    border-width: 0px;
    border-style: none;
    border-color: transparent!important;
}
.editDialog .cartBorder .v-input--slider {
    margin-top: 0;
}
.editDialog .cartBorder .v-text-field.v-text-field--solo .v-input__prepend-outer {
    margin-top: 6px;
}
.editDialog .cartBorder .v-textarea.v-text-field--enclosed .v-text-field__slot textarea {
    margin-top: 2px;
}
.editDialog .cartBorder .v-text-field .v-text-field__details,
.editDialog .cartBorder .v-text-field .v-text-field__details {
    display: none;
}
.editDialog .v-input--selection-controls__input {
    margin-right: 5px;
}
.editDialog .v-input--selection-controls.v-input .v-label {
    font-size: 13px !important;
}
.editDialog .btn-detai {
    text-transform: inherit!important;
    margin: 0px auto;
    padding: 7px 5px 6px;
    height: auto;
    border-radius: 0px !important;
    border-width: 1px;
    border-style: solid;
    border-color: #bdbdbd!important;
}
.editDialog .v-card__actions .v-input {
    margin-top: 0px !important;
}
.editDialog .v-card__actions .v-input__slot {
    margin-bottom: 0px;
}
.editDialog .v-card__actions .v-input .v-messages {
    display: none;
}
@media screen and (max-width: 768px) {
    .editDialog {
        padding: 0px !important;
    }
    .editDialog .cartBorder .feildLabel {
        padding-top: 5px!important;
        padding-bottom: 0px!important;
    }
    .editDialog .cartBorder .v-card__title {
        font-size: 15px!important;
    }
    .editDialog .cartBorder .v-toolbar__content .v-toolbar__title {
        font-size: 15px;
    }
    .editDialog .v-card__actions .v-btn {
        margin-bottom: 10px;
    }
    .editDialog .v-card__actions .v-btn:nth-last-child(1) {
        margin-left: 0px;
    }
}


/* 3rd Tab Editor */
.tab3rd-edit-panel .v-textarea.v-text-field--enclosed .v-text-field__slot textarea {
    margin-top: 0px;
}
.tab3rd-edit-panel .heightStyle {
 height: 36px !important;
}
.tab3rd-edit-panel .editIconBtn {
    width:25px !important;
    height:25px !important;
    position:absolute;
    top: 0;
    right: 0;
}